{% extends 'base.html' %}

{% block title%}
славная страница
{% endblock %}

{% block body%}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal"><ya-tr-span data-index="6-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Punny headline" data-translation="Остроумный заголовок" data-ch="0" data-type="trSpan" data-selected="false">Punny headline</ya-tr-span></h1>
      <p class="lead fw-normal"><ya-tr-span data-index="7-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="And an even wittier subheading to boot. " data-translation="И еще более остроумный подзаголовок для загрузки. " data-ch="0" data-type="trSpan">And an even wittier subheading to boot. </ya-tr-span><ya-tr-span data-index="7-1" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Jumpstart your marketing efforts with this example based on Apple’s marketing pages." data-translation="Начните свои маркетинговые усилия с этого примера, основанного на маркетинговых страницах Apple." data-ch="0" data-type="trSpan">Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</ya-tr-span></p>
      <a class="btn btn-outline-secondary" href="#"><ya-tr-span data-index="8-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Coming soon" data-translation="Скоро выйдет" data-ch="0" data-type="trSpan">Coming soon</ya-tr-span></a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
{%endblock%}
